@import '~antd/dist/antd.css';
@import url('https://fonts.googleapis.com/css?family=Cinzel');

body{
    background-image: url("./otherimages/ep_naturalwhite.png");
    background-color: darkblue;
    overflow-x:hidden;
}

h1{
  color:white;
  text-align: center;
  font-family: 'Cinzel', cursive;
}

h2{
    color:white;
}

h3{
    font-weight:bold;
    color:darkred;
    font-size:large;
    font-family: 'Cinzel', cursive;
}

footer{
  border-top: 2.5px solid lightgrey;
  background-color: #222;
  padding: 20px;
  color: white;
  background-image: url("./otherimages/ep_naturalblack.png");
}

footer img{
    width:25px;
}

li{
  text-decoration: none;
}
.App {
  text-align: center;
}

.white {
  background-image: url("./otherimages/ep_naturalwhite.png");
}
