@import "~antd/dist/antd.css";
@import url("https://fonts.googleapis.com/css?family=Cinzel");

body {
  background-image: url("./images/otherimages/swirl_pattern.png");
  overflow-x: hidden;
}

h1 {
  color: white;
  text-align: center;
  font-family: "Cinzel", cursive;
  font-size: 2em;
}

h2 {
  color: white;
}

h3 {
  font-weight: bold;
  color: darkred;
  font-size: large;
  font-family: "Cinzel", cursive;
}

footer {
  border-top: 2.5px solid lightgrey;
  background-color: #222;
  padding: 20px;
  color: white;
  background-image: url("./images/otherimages/ep_naturalblack.png");
}

footer img {
  width: 25px;
}

li {
  text-decoration: none;
}
.App {
  text-align: center;
}

.white {
  background-image: url("./images/otherimages/ep_naturalwhite.png");
}

.black {
  background-image: url("./images/otherimages/ep_naturalblack.png");
}

/* card flip transformation - needs development if to be used */

.flip-container {
  position: relative;
  -webkit-perspective: 1000;
  perspective: 1000;
}

.flip-cards {
  width: 200px;
  height: 291px;
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.flip-cards:hover {
  transform: rotateY(180deg);
  -webkit-transform: rotateY(180deg);
}

.flip-cards div {
  position: absolute;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
}

.front-card {
  z-index: 2;
  background-image: url("./images/otherimages/ep_naturalblack.png");
}

.reverse-card {
  -webkit-transform: rotateY(180deg);
  transform: rotateY(180deg);
}

/* for AntD Carousel */
.ant-carousel .slick-slide {
  text-align: center;
  height: 350px;
  line-height: 350px;
  overflow: hidden;
}

.ant-carousel .slick-slide h3 {
  color: #fff;
}

.ant-carousel img {
  margin: auto;
  display: block;
}
